# Maintainer: Igor Londero Gentil <igor.lg@gmail.com>
# Contributor: Paulo Miguel Almeida Rodenas <paulo.miguel.almeida.rodenas@gmail.com>

pkgname="amazon-ssm-agent"
pkgdesc="Amazon SSM Client and Agent"
pkgrel=0
license="Apache License 2.0"
url="https://github.com/aws/${pkgname}"
arch="x86_64 aarch64"

pkgver="SED_PKGVER"

depends=""
makedepends="go make git"
options="!check"

provides="cmd:amazon-ssm-agent"
provides="cmd:ssm-document-worker"
provides="cmd:ssm-session-worker"
provides="cmd:ssm-agent-worker"
provides="cmd:ssm-session-logger"
provides="cmd:ssm-cli"
provides="cmd:updater"

install="$pkgname.post-install $pkgname.pre-upgrade $pkgname.post-upgrade $pkgname.pre-deinstall"
source="${pkgname}-${pkgver}.tar.gz::${url}/archive/${pkgver}.tar.gz"

builddir="$srcdir/$pkgname-$pkgver"
elf_magic_header="\x7f\x45\x4c"

build() {
	cd "$builddir"

	# Adjust make targets and output paths based on which architecture this is running against
	# At this point makes no sense to deal with more arch types since travis CI doesn't support other
	# archs that alpine can run on
	if [ $(uname -m) == 'x86_64' ]; then
		outbinfld="linux_amd64"
		maketarget="build-linux"
	else
		outbinfld="linux_arm64"
		maketarget="build-arm64"
	fi

	# Override the VERSION (major version only) file with the release version (actual)
	echo -n "${pkgver}" > VERSION

	# This is regrettably necessary as otherwise, the amazon-ssm-agent version will show
	# a different version on the console.
	export GOPATH=`pwd`/vendor:`pwd`
	ln -s `pwd` vendor/src/github.com/aws/amazon-ssm-agent
	make clean pre-build
	rm vendor/src/github.com/aws/amazon-ssm-agent
	unset GOPATH

	# Finally build the binaries
	make ${maketarget}

	# Strip symbols from Assembler (man strip)
	for i in `ls bin/$outbinfld`; do
		if grep -q "$elf_magic_header" bin/$outbinfld/$i ; then
			echo "strip --strip-unneeded bin/$outbinfld/$i"
			strip --strip-unneeded bin/$outbinfld/$i
		fi
	done

	cp -v "$startdir"/amazon-ssm.rc-service "$builddir"/amazon-ssm.rc-service
}

package() {
	# Adjust output path based on arch used to build this package
	if [ $(uname -m) == 'x86_64' ]; then
		outbinfld="linux_amd64"
	else
		outbinfld="linux_arm64"
	fi

	# Binaries
	for i in `ls $builddir/bin/$outbinfld`; do
		if grep -q "$elf_magic_header" $builddir/bin/$outbinfld/$i ; then
			install -Dm 755 "$builddir"/bin/$outbinfld/$i "$pkgdir"/usr/bin/$i
		fi
	done

	# Config/Templates
	install -Dm 644 "$builddir"/amazon-ssm-agent.json.template "$pkgdir"/etc/amazon/ssm/amazon-ssm-agent.json.template
	install -Dm 644 "$builddir"/seelog_unix.xml "$pkgdir"/etc/amazon/ssm/seelog.xml

	# Service
	install -Dm 755 "$builddir"/amazon-ssm.rc-service "$pkgdir"/etc/init.d/amazon-ssm

	# Sudoers
	install -Dm 440 "$startdir"/templates/ssm-agent-users "$pkgdir"/etc/sudoers.d/ssm-agent-users

	# Log Files
	install -Dm 600 "$startdir"/templates/empty "$pkgdir"/var/log/amazon/ssm/amazon-ssm-agent.log
	install -Dm 600 "$startdir"/templates/empty "$pkgdir"/var/log/amazon/ssm/errors.log
	install -Dm 700 "$startdir"/templates/empty "$pkgdir"/var/lib/amazon/ssm/.empty

}

sha512sums="SED_PKGSUM  amazon-ssm-agent-SED_PKGVER.tar.gz"

